tests/exposures/data/OasisPiWind/flamingo/PiWind/Files/ValidationFiles/piwind_modelloc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rec" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="ID" type="xs:string"/>
						<xs:attribute name="LAT" type="xs:string"/>
						<xs:attribute name="LON" type="xs:string"/>
						<xs:attribute name="COVERAGE" type="xs:string"/>
						<xs:attribute name="CLASS_1" type="xs:string"/>
						<xs:attribute name="CLASS_2" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
